<app-header titulo="card"></app-header>

<ion-content class="ion-padding">

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="warning">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci illum non iusto hic! At voluptates praesentium quasi explicabo repellendus consectetur, quibusdam illum nam accusantium ipsam, sequi deserunt aperiam maiores necessitatibus.</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>

    <ion-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi aperiam explicabo maxime officiis architecto mollitia exercitationem modi nisi vero. Sed dolorum asperiores deserunt ipsa minima quisquam fugiat similique, debitis cumque!</ion-card-content>
  </ion-card>
  
</ion-content>
